body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}



.navbar {
    background-color: #007bff;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    padding: 10px;
    transition: 0.3s;
}

.nav-links a:hover, .nav-links a.active {
    background-color:rgb(255, 255, 255);
    border-radius: 5px;
    color: #007bff;
    font-weight: bold;
}

.container {
    width: 80%;
    margin: auto;
    background: white;
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.search-box {
    width: 98%;
    height: 20px;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    margin-bottom: 15px;
}

.btn-add {
    width: 100%;
    height: 40px;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    margin-bottom: 15px;
}

button {
    background: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #0056b3;
}

.aksi {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin: 0;

}

.aksi button {
    width: 50px;
    /* Atur lebar input */
    height: 30px;
    border-radius: 40px;

} 

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

table, th, td {
    border: 1px solid #ddd;
}

th {
    background-color: #007bff;
    color: white;
    padding: 10px;
}

td {
    padding: 10px;
    text-align: center;
}

td:hover {
    background-color: #f1f1f1;
}